.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.swal-text {
  text-align: center;
}

.sweet-warning-button {
  background-color: rgba(0, 85, 165, 100);
}

.swal-button {
  background-color: rgba(0, 85, 165, 100);
}

.swal-button:not([disabled]):hover {
  background-color: rgba(18, 40, 230, 100);
}

